APP_NAME= "Ask-Your-PDF"
APP_VERSION= "0.1"

LLM_API_KEY_API_KEY=""

FILE_ALLOWED_TYPES=
FILE_MAX_SIZE_MB=
FILE_DEFAULT_CHUNK_SIZE=

# Mongodb
MONGODB_URL="mongodb://localhost:27007"
MONGODB_DATABASE="ask-your-pdf"

#===============LLM Config=============
GENERATION_BACKEND= "QWEN"
EMBEDDING_BACKEND= "BGE"

QWEN_API_KEY=""
QWEN_URL=""

BGE_API_KEY=""
BGE_URL=""

GENERATION_MODEL_ID="qwen2.5:7b-instruct-q3_K_S"
EMBEDDING_MODEL_ID="bge-m3:567m"
EMBEDDING_MODEL_SIZE=1024

INPUT_DEFAULT_MAX_CHARS=1024
GENERATION_DEFAULT_MAX_TOKENS=200
GENERATION_DEFAULT_TEMPERATURE=0.1

#===============VectorDB=============
VECTOR_DB_BACKEND="QDRANT"
VECTOR_DB_PATH="qdrant_db"
VECTOR_DB_DISTANCE_METHPD="cosine"

#===============Template configs=============
DEFAULT_LANGUAGE='en'